/* Reset e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #36393f;
    color: #ffffff;
    min-height: 100vh;
}

/* Conteúdo principal */
.main-content {
    padding: 20px;
    flex-grow: 1;
    position: relative;
}

/* Estilos para os cartões */
.summary-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.card {
    background-color: #2f3136;
    padding: 15px;
    border-radius: 8px;
    width: calc(33.33% - 20px);
    min-width: 250px;
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.total-summary-cards {
    display: flex;
    gap: 37px;
    justify-content: center;
    margin-top: 20px;
}

.total-points-card, .total-processes-card {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #2f3136;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.total-points-card h3, .total-processes-card h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.total-points-card .big-number, .total-processes-card .big-number {
    font-size: 24px;
    color: #7289da;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
    }
}

.card-content {
    display: flex;
    justify-content: space-between;
    background-color: #3a3b3c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-section {
    width: 48%;
    text-align: center;
}

.card h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.big-number {
    font-size: 24px;
    color: #7289da;
}

.member-name {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 5px;
}

.section-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #7289da;
    text-align: center;
}

.group-card {
    background-color: #2f3136;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.group-card h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

.group-card p {
    color: #ecf0f1;
}

.error-message {
    color: #e74c3c;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.btn-remove {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    width: auto;
}

.btn-remove:hover {
    background-color: #c0392b;
}

.success-message {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #2f3136;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modal-buttons {
    margin-top: 20px;
}

.modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmYes {
    background-color: #e74c3c;
    color: white;
}

#confirmNo {
    background-color: #7289da;
    color: white;
}